@using AspNetCoreDemo.Models
@model List<Beer>

<html>
<head>
    <title>BeerOverflow - Beers</title>
    <link href="~/css/styles.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div>
            <h3>
                <a href="/Home/Index">Home</a>
                |  <a href="/Home/About">About</a>
                |  <a href="/Beers/Index">Beers</a>
                |  <a href="/Beers/Create">Create</a>
            </h3>
        </div>
    </header>

    <table>
        <tr>
            <th>Name</th>
            <th>% Abv</th>
            <th>Style</th>
            <th>Actions</th>
            <th>Update</th>
        </tr>
        @{
            foreach (var beer in Model)
            {
                <tr>
                    <td>@beer.Name</td>
                    <td>@beer.Abv</td>
                    <td>@beer.Style.Name</td>
                    <td><a href="@($"/Beers/Details/{beer.Id}")">Details</a></td>
                    <td><a href="@($"/Beers/Update/{beer.Id}")">Update</a></td>
                    <td><a href="@($"/Beers/Delete/{beer.Id}")" onclick="return confirm('Are you sure you want to delete this beer?')">Delete</a></td>
                </tr>
            }
        }
    </table>
    
    

</body>
</html>